<div class="container-fluid mt-3">
  <div class="row">
    <!-- table data -->
    <div class="col-8">
      <div class="card">
        <div class="card-header bg-success">
          <div class="row">
            <div class="col-6">
              User List
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-sm btn-primary">Add New</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>

              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">User Name</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of userList;let i= index">

              <td>{{i + 1}}</td>
              <td>{{item.fName}}</td>
              <td>{{item.lName}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.city}}</td>
              <td>{{item.state}}</td>
              <td>
                <button class="btn btn-sm btn-primary mx-2" (click)="onEdit(item)">edit</button>
                <button class="btn btn-sm btn-red" (click)="onDelete(item.userId)" >Delete</button>
              </td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- form data -->
    <div class="col-4">
      <div class="card">
        <div class="card-header bg-success">
          <div class="row">
            <div class="col-6">
              User List
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-sm btn-primary">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" name="fName" [(ngModel)]="userObj.fName" class="form-control" id="validationCustom01" value="Mark" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" name="lName" [(ngModel)]="userObj.lName" class="form-control" id="validationCustom02" value="Otto" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend"></span>
              <input type="text" name="userName" [(ngModel)]="userObj.userName" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom04" class="form-label">City</label>
            <select class="form-select" name="city" [(ngModel)]="userObj.city" id="validationCustom04" required>
              <option selected disabled value="">Choose...</option>
              <option *ngFor="let item of cityList$ | async" [value]="item">{{item}}</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>

          <div class="col-md-3">
            <label for="validationCustom04" class="form-label">State</label>
            <select class="form-select" name="state" [(ngModel)]="userObj.state" id="validationCustom04" required>
              <option selected disabled value="">Choose...</option>
              <option *ngFor="let state of stateList$ | async" [value]="state">{{state}}</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Zip</label>
            <input type="text" name="zipCode" [(ngModel)]="userObj.zipCode" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>

          <div class="col-12">
            <button class="btn btn-primary" type="button" (click)="onSaveUser()" >Submit form</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
